.App {
	display: grid;
	grid-template-columns: 3rem 20vw 1fr 20vw 3rem;
	grid-template-rows: 3rem 20vh 1fr 3rem;
	height: 100vh;
	.header {
		grid-column: 2/5;
		grid-row: 2/3;
		display: grid;
		grid-template-columns: 20vh auto 6em 15em;
		.profile {
			grid-column: 1/2;
		}
		.info {
			grid-column: 2/3;
			margin-right: 2em;
			align-self: center;
			.stats {
				display: flex;
				h3 {
					margin-right: 2em;
				}
			}
		}
		.month {
			grid-column: 3/4;
			place-self: center;
		}
		.next {
			grid-column: 4/5;
			place-self: center;
		}
	}
	.loans {
		grid-column: 2/3;
		grid-row: 3/4;
    display: grid;
		grid-template-columns: auto 25%;
    grid-template-rows: 1fr 1fr;
	}
	.stores {
		grid-column: 3/4;
		grid-row: 4/5;
    grid-template-columns: 20% auto 20%;
    grid-template-rows: 20% auto 20%;
    .storeIMG {
      grid-column: 1/2;
  		grid-row: 1/2;
    }
    .title {
      grid-column: 2/3;
  		grid-row: 1/2;
    }
    .revenue {
      grid-column: 3/4;
  		grid-row: 1/2;
    }
    .info {
      grid-column: 1/4;
  		grid-row: 2/3;
    }
    .buttons {
      grid-column: 1/2;
  		grid-row: 3/4;
    }
	}
	.notifs {
		grid-column: 4/5;
		grid-row: 3/4;
	}
}
