.App {
  display: grid;
  grid-template-columns: 20vh auto 20vh;
  grid-template-rows: 20vh auto;
}
.header {
  grid-column: 0/3;
  grid-row: 0/1;
}
.loans {
  grid-column: 0/1;
  grid-row: 1/2;
}
.stores {
  grid-column: 1/2;
  grid-row: 1/2;
}
.notifs {
  grid-column: 2/3;
  grid-row: 1/2;
}
