.App {
	display: grid;
	grid-template-columns: 3rem 20vw 1fr 20vw 3rem;
	grid-template-rows: 3rem 15vh 1fr 3rem;
	height: 100vh;
	.header {
		grid-column: 2/5;
		grid-row: 2/3;
		display: grid;
		grid-template-columns: 20vh auto 6em 15em;
		.profile {
			grid-column: 1/2;
		}
		.info {
			grid-column: 1/3;
			margin-right: 2em;
			align-self: center;
			.stats {
				display: flex;
				h3 {
					margin-right: 2em;
				}
			}
		}
		.month {
			grid-column: 3/4;
			place-self: center;
			h3 {
				margin-bottom: 0.3em;
			}
			p {
				margin-top: 0.3em;
			}
		}
		.next {
			grid-column: 4/5;
			place-self: center;
		}
	}
	.notifs {
		grid-column: 4/5;
		grid-row: 3/4;
	}
}

.loanList {
	&.prospective {
		.loan {
			padding: 1em;
			margin-left: 2em;
			margin-right: 2em;
		}
		.loanImg {
			justify-self: center;
			width: 50%;
			height: auto;
		}
	}

	grid-column: 2/3;
	grid-row: 3/4;
	.loanContain {
		overflow-y: scroll;
		max-height: 60vh;
		&::-webkit-scrollbar {
			width: 0 !important;
		}
	}
	.newLoan {
		padding-top: 1em;
	}
	.loan {
		border: 2px solid #000;
		box-shadow: $dropShadow;
		display: grid;
		grid-template-columns: auto 35%;
		grid-template-rows: 2fr 1fr;
		margin-bottom: 1em;
		padding: 1em;
		transition: all 0.3s;
		&:hover {
			cursor: pointer;
			transform: $moveAnime;
		}
		.loanImg {
			grid-column: 1/2;
			grid-row: 1/3;

			img {
				max-width: 100%;
			}
		}
		.info {
			text-align: center;
			place-self: center;
			grid-column: 2/3;
			grid-row: 1/2;
		}
		.pay {
			place-self: center;
			grid-column: 2/3;
			grid-row: 2/3;
		}

		&.prospective {
			.info {
				grid-row: 1/3;
			}
		}
	}
}

.storeList {
	margin-left: 1em;
	grid-column: 3/4;
	grid-row: 3/4;
	min-width: 50em;
	.newStore {
		padding-top: 1em;
	}
	.store {
		margin-bottom: 1em;
		padding: 1em;
		grid-column: 3/4;
		grid-row: 4/5;
		border: 2px solid #000;
		height: 3em;
		overflow-y: hidden;
		box-shadow: $dropShadow;
		transition: all 0.3s;
		&:hover {
			cursor: pointer;
			transform: $moveAnime;
		}
		&.expand {
			height: 15em;
		}
		.grid {
			display: grid;
			grid-template-columns: 4em 1fr 20%;
			grid-template-rows: 20% auto 20%;
			min-height: 15em;
			height: auto;
			align-items: center;
			.icon {
				grid-column: 1/2;
				grid-row: 1/2;
			}
			.Name {
				grid-column: 2/3;
				grid-row: 1/2;
			}
			.stats {
				grid-column: 3/4;
				grid-row: 1/2;
			}
			.info {
				grid-column: 2/4;
				grid-row: 2/3;
			}
			.Actions {
				grid-column: 2/3;
				grid-row: 3/4;
			}
		}
	}
}

.notifList {
	margin-left: 1em;
	grid-column: 4/5;
	grid-row: 3/4;
	.notifBox {
		margin-bottom: 1em;
		padding: 1em;
		border: 2px solid #000;
		box-shadow: $dropShadow;
	}
}
