@import url('https://fonts.googleapis.com/css?family=Montserrat:500,700,800');

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 500;
}
h1 {
	font-size: 24px;
	font-weight: 800;
}
h2 {
	font-size: 18px;
	font-weight: 700;
}
h3 {
	font-size: 14px;
	font-weight: 700;
}
h4 {
	font-size: 10px;
	font-weight: 500;
}
